.notAvailablesTopWrapper p {
  font-size: 1.2em !important;
  font-family: "Roboto", serif;
  font-weight: bold;
}

.notAvailablesTopWrapper h3 {
  font-size: 1.2em !important;
  font-family: "Roboto", serif;
  font-weight: bold;
}

.notAvailablesViewTable td {
  padding-left: 50px;
}

.notAvailablesError {
  position: relative;
  letter-spacing: 1px;
  font-size: 1.5em;
  text-align: center;
  font-weight: 900;
}


.react-time-picker__inputGroup__input react-time-picker__inputGroup__hour {
  width: '50px';

}

.react-time-picker__inputGroup__input react-time-picker__inputGroup__minute{
  width: '50px';
}
