.parallelCategorysTopWrapper p {
  font-size: 1.2em !important;
  font-family: "Roboto", serif;
  font-weight: bold;
}

.parallelCategorysTopWrapper h3 {
  font-size: 1.2em !important;
  font-family: "Roboto", serif;
  font-weight: bold;
}

.parallelCategorysViewTable td {
  padding-left: 50px;
}

.parallelCategorysError {
  position: relative;
  letter-spacing: 1px;
  font-size: 1.5em;
  text-align: center;
  font-weight: 900;
}



