.programsTopWrapper p {
  font-size: 1.2em !important;
  font-family: "Roboto", serif;
  font-weight: bold;
}

.programsTopWrapper h3 {
  font-size: 1.2em !important;
  font-family: "Roboto", serif;
  font-weight: bold;
}

.programsViewTable td {
  padding-left: 50px;
}

.programsError {
  position: relative;
  letter-spacing: 1px;
  font-size: 1.5em;
  text-align: center;
  font-weight: 900;
}
